{% import_yaml "nfs/appl.yaml" as appl %}
{% import_yaml "nfs/db.yaml" as db %}
{% import_yaml "nfs/test.yaml" as test %}

{% set hostfqdn = salt['grains.get']('fqdn') %}
{% set type = salt['pillar.get']('nfs:' + hostfqdn + ':type') %}
{% set mynfs = salt['pillar.filter_by'](
	  appl,
	  pillar='nfs:' + hostfqdn + ':type',
	  merge = salt['pillar.filter_by'](
	      db,
	      pillar='nfs:' + hostfqdn + ':type',
	      merge = salt['pillar.filter_by'](
		  test,
		  pillar='nfs:' + hostfqdn + ':type',
		  merge=salt['pillar.get']('nfs:' + hostfqdn + ':' + type) 
	      ),
	  ),
)	 

%}
